<div class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd">
  <div class="hover14 column">
  <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
    <div class="tag"><img src="/uploads/tag.png" class="img-responsive"></div>
    <div class="agile_top_brand_left_grid1">
      <figure>
        <div class="snipcart-item block">
          <div class="snipcart-thumb">
            <a><img src="/uploads/<%=product.image %>" class="img-responsive" /></a>
            <p><%= product.name %></p>
            <h4><%= product.price %></h4>
          </div>
          <div class="snipcart-details">
            <form action="#" method="post">
              <fieldset>
                <input type="hidden" name="cmd" value="_cart" />
                <input type="hidden" name="add" value="1" />
                <input type="hidden" name="business" value=" " />
                <input type="hidden" name="item_name" value="Fresh Bananas" />
                <input type="hidden" name="amount" value="10.00" />
                <input type="hidden" name="discount_amount" value="1.00" />
                <input type="hidden" name="currency_code" value="USD" />
                <input type="hidden" name="return" value=" " />
                <input type="hidden" name="cancel_return" value=" " />
                <input type="submit" name="submit" value="Add to cart" class="button" />
              </fieldset>
            </form>
          </div>
        </div>
      </figure>
    </div>
  </div>
  </div>
</div>
